$text_color: black;
$text_hover: yellow;

.projectsContainer {
  background: rgba($color: #ffffff, $alpha: 0.1);
  padding: 4rem;
  border-radius: 6rem;
  width: fit-content;
  color: $text_color;
  list-style: none;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $text_hover;
    }
  }
}

.project {
  background: linear-gradient(
    135deg,
    rgba($color: #ddddff, $alpha: 0.3),
    rgba($color: #ddddff, $alpha: 0)
  );
  padding: 1rem;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
